<h2>Latests posts: </h2>
<br />
	<%@results.each do |post|%>
	<p>
	<%=post["content"]%> <br>   <br><br>
<span style="fontsize:75%; color:gray">
Added by <%=post['username']%>
<br> <%=post["created_date"]%> </span>
	<br>
	<br>
	<a href="/details/<%=post['id']%>">Comments</a>
	</p>	<hr/>
	<%end%>