<h2>Add New Post</h2>
	<form action="/new" method="POST" role="form">
  	   <textarea name="content" class="form-control" rows="6" style="width: 800px" placeholder="Type your post"></textarea>
	<br>
<p>Enter your username:</p>
<input type="text" name="username" placeholder="username"/>  
	</br>  <br>
 	   <button type="submit" class="btn btn-primary">Submit</button>
	</form>	
   